
*{margin:0; padding:0}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background: #956b6bc4;
    color: white;
}
ul {
    display: inline-block;
}

.footer1 ul li {
    float: left;
    list-style: none;
    text-align: center;
    margin-left:10px;
}

.footer1 ul li a:hover{
    background: white;
    color: #0080008a;
}
.footer li a {
    color: white;
    display: inline-block;
    padding: 12px;
    width: 50px;
    height: 50px;
    
    border-radius: 50%;
    
    border: 2px solid white;
    transition: 0.4s;
    text-decoration: none;
    font-size: 20px !important;
}

.footer2 {
    background: #19121287;
    padding: 13px;
}

.footer h3 {
    font-weight: 500;
    padding-bottom: 20px;
}

.footer1 {
    background: #3a6a92e6;
    color: white;
    padding: 26px 10px;
}

.footer p {
    font-size: 15px;
    font-weight: 500;
}

.footer2 p {
    font-size: 20px;
    margin: auto;
    text-align: center;
}

.contactme button.btn.btn-primary {
    padding: 10px 19px;
    background: #0080008a;
    color: #333;
    font-size: 22px;
    margin: 10px 10px;
}

.contactme textarea {
    font-size: 20px;
    color: #80808091;
    padding: 5px 5px;
    width: 100%;
    height: 200px;
}

input.form-control {
    box-shadow: 0 0 0 #00000021;
    border: 0px solid;
    border-bottom: 1px solid #00800036;
    color: #00000099;
    font-size: 20px;
}

.contactme h2 {
    margin-top: 90px;
    text-align: center;
}

a.btn.btn-default.nutdown {
    background: none;
    border: 1px solid white;
    padding: 10px 20px;
    margin: 20px auto;
    font-size: 22px;
    margin-bottom: 70px;
}

.about {
    background: #389c81;
    padding-top: 90px;
    margin-top: 70px;
    color: white;
}


.sanpham:hover .phongto{
    opacity: 1;
}

.phongto .fa.fa-search-plus {font-size: 66px;color: white;padding-top: 100px;}

.phongto {
    position: absolute;
    background: #389c81;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    text-align: center;
    opacity: 0;
    transition: 0.4s;
    cursor: pointer; /* chi vao co dau con tro chuot */
}

.about h2 {
    font-size: 2.5em;
    text-align: center;}
.sanpham {
    position: relative;
    margin-bottom:20px;
}

.portfolio{
    padding: 60px;
    transition: all 0.4s;
    opacity:0;
    transform: translateY(-100px);
}
.portfolio.bienra{
    opacity:1;
    transform:translateY(0);
}

.about .ngoisao {
    width: 40%;
    margin: auto;
    border-top: 3px solid rgb(255, 255, 255);
    margin-top: 30px;
    text-align: center;
}
.about .ngoisao i{
    width: 40px;
    height: 40px;
    background: #389c81;
    position: relative;
    top: -21px;
    line-height: 40px;
    font-size: 35px;
    color:#ffffff;
}
.about p {
    color: white;
    font-size: 15px;
}

.nenxanh .ngoisao {
    width: 23%;
    margin: auto;
    border-top: 3px solid white;
    margin-top: 39px;
}

.nenxanh .ngoisao li{
    width: 40px;
    height: 40px;
    background: #389c81;
    position: relative;
    top: -21px;
    line-height: 40px;
    font-size: 35px;
    color:white;
}
.ngoisao li{
    width: 40px;
    height: 40px;
    background: white;
    position: relative;
    top: -21px;
    line-height: 40px;
    font-size: 35px;
    color:black;
}
.ngoisao {
    width: 23%;
    margin: auto;
    border-top: 3px solid black;
    margin-top: 30px;
    text-align: center;
}


h1 {
    color: white;
    text-transform: uppercase;
    font-size: 40px;
}
.nenxanh .text-center {
    padding: 90px 0 112px 0;
    background: #00805ec7;
}
.navbar-default .navbar-brand {
    padding-top: 44px;
    font-size: 36px;
    color: white;
    transition: all 0.4s;
}

.tienhoa a.navbar-brand {
    margin-top: -13px;
    font-size: 30px;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: green;
}

.navbar-default .navbar-nav > li > a {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    
}

ul.nav.navbar-nav.navbar-right {
    padding-top: 46px;
    transition: 0.4s;
}

.tienhoa ul.nav.navbar-nav.navbar-right {
    padding-top: 20px;
}


nav.navbar.navbar-default {
    height: 111px;
    background:#2d3e50;
    transition: all 0.4s;
    margin-bottom: 0px;
}

nav.navbar.navbar-default.navbar-fixed-top.tienhoa {
    height: 80px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: green;
}
@media(max-width:767px){
    ul.nav.navbar-nav.navbar-right {
        padding-top: 0;
        position: absolute;
        right: 30px;
        background: #2d3e50;
        color: white;
        box-sizing: content-box !important;
    
    }
    ul.nav.navbar-nav.navbar-right {
        margin-top: -12px;
        width: 160px;
        height: 130px;
        overflow: visible!important
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form{
        border:0;
    }
}
@media(max-width:992px){
  
    .conheo{
        font-size: 20px;
    }
    .footer1 ul{
        padding-left: 18.1px;
    }
    .footer1 ul li{
        padding-bottom: 5px;
    }
    .footer1 h3{
        font-size: 15px;
        font-weight: 800;
    }
    }

    @media(max-width:323px){
        .conheo{
            display: none;
        }
     }
    .tienhoa{
        height: 70px;
    }
