* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer .mangxhphai a {
  padding: 0 5px;
  color: #808080b0;
  /* margin-left: ; */
  font-size: 18px;
  text-decoration: none;
}

.footer .mangxhphai a:hover {
  color: white;
}

.footer {
  background: beige;
  background: #131344e8;
  padding: 26px 0px;
  border-top: 5px solid #35689e85;
  color: #808080b0;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  color: white;
  background: #7a91e4;
}

.vientrenxam .pagination > li > a,
.vientrenxam .pagination > li > span {
  border: transparent;
  border-radius: 5px;
  margin-left: 2px;
}

.vientrenxam .pagination li:first-child a,
.vientrenxam .pagination li:last-child a {
  background: #36679e;
  color: white;
}

.col-xs-12.col-sm-12.col-md-12.vientrenxam {
  border-top: 5px solid #80808026;
}

.link h4.text-center {
  padding-top: 35px;
}

.icon2 .fa {
  border: 1px solid white;
  padding: 17px;
  border-radius: 50%;
  transition: 0.4s;
  margin-right: 10px;
  cursor: pointer;
}

.icon2 .fa:hover {
  background: #00c4ffa1;
  border-color: #00c4ffa1;
}

.link {
  position: absolute;
  width: 263px;
  height: 263px;
  background: #0000005c;
  color: white;
  transition: 0.4s;
  top: -262px;
}

.link .icon2 {
  text-align: center;
  padding-top: 52px;
}

.breadcrumb > li + li:before {
  content: "\f105";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}

.mottin a.btn.btn-default.xt {
  border-radius: 2px;
  background: none;
  text-transform: uppercase;
  color: #5e697b;
  border: 1px solid black;
  font-family: lato;
  padding: 12px 21px;
}

.mottin a.btn.btn-default.xt:hover {
  background: black;
  color: white;
}

.mottin p {
  color: gray;
  margin-bottom: 29px;
}

.mottin .thongtinbv {
  color: gray;
  padding-bottom: 10px;
  border-bottom: 1px solid #8080803b;
  margin-bottom: 10px;
}

.caption h3 {
  font-size: 23px;
  margin: 0px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: #77818f;
}

.thumbnail .caption {
  padding: 0px;
  /* margin: 0px; */
}

.thumbnail {
  padding: 0;
  border: none;
  position: relative;
  overflow: hidden;
}

.thumbnail:hover .link {
  top: 0px;
}

.noidung {
  padding-top: 120px;
}

.info .breadcrumb a {
  font-size: 20px;
  color: white;
}

ol.breadcrumb {
  background: none;
  float: right;
  padding-top: 24px;
}

.info i.fa.fa-bars {
  color: black;
  background: white;
  padding: 8px 10px;
  font-size: 25px;
  border-radius: 20%;
  margin-left: 10px;
}

.info h3 {
  font-size: 33px;
  font-family: lato;
}

.info {
  color: white;
  background: #5673dcc9;
  padding: 43px;
}

nav.navbar.navbar-default {
  background: white;
  border-bottom: 0px solid transparent;
}

.navbar-default .navbar-brand {
  padding: 0;
  margin: 22px;
}

.navbar-default .navbar-nav > li > a {
  font-size: 15px;
  padding-top: 35px;
  padding-bottom: 35px;
  border-top: 5px solid transparent;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0 12px;
  transition: 0.4s;
  color: gray;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: green;
  border-color: green;
}

.icon {
  float: left;
  padding-top: 26px;
  font-size: 20px;
  padding-left: 15px;
  color: gray;
}

.icon i {
  padding: 12px;
}

@media (max-width: 767px) {
  * {
  }

.footer .mangxhphai a {
    font-size: 10px;
}

  .link {
    width: 384px;
    height: 384px;
    top:0px;
    opacity: 0;
  }
  .thumbnail:hover .link,.thumbnail:focus .link {
    opacity:1;
  }

  .breadcrumb > li:first-child a {
    padding-left: 19px;
  }

  .info .breadcrumb li a {
    font-size: 10px;
  }
  .info .breadcrumb a {
    font-size: 20px;
  }

  .info i.fa.fa-bars {
    width: 42px;
    margin-left: 30px;
  }

  .info h3 {
    font-size: 23px;
  }
  .navbar-default .navbar-nav > li > a {
    padding: 10px 0px;
    transition: 0.4s;
  }
  .icon {
    display: none;
  }
}
